/*
Colors used:
Higlight Color (orange-red): #ca1d05
Secondary Color (gray): #6c757d;
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* layout style */
.container {
  max-width: 1200px;
  padding: 0 15px;
}

#work .row {
  margin: 60px 0;
}

header {
  background-color: white;
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid #6c757d;
  position: fixed;
  width: 100%;
  display: inline-block;
  z-index: 1;
}

.logo {
  max-width: 250px;
  align-items: center;
  padding: 0 10px;
  font-weight: 600;
}

nav > ul {
  /* affects only ul in navigation class, takes away bullet points and takes away padding so it is centered correctly */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

.navtoggle li:not(:last-child) {
  display: none;
  padding: 0 0 10px;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #ca1d05;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 1px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.fa-bars {
  float: right;
}

nav > ul > li > a {
  padding: 0 10px;
  text-transform: lowercase;
  font-weight: 200;
  width: 100%;
}

body {
  background-color: white;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: black;
}

/* -- Hero -- */
#hero {
  background-color: white;
  padding: 20px 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

#hero h2 {
  margin-bottom: 16px;
}

#hero p {
  max-width: 600px;
}

main {
  padding-top: 60px;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 500;
}

h4 {
  font-size: 1.35em;
  font-weight: 500;
}

img {
  width: 100%;
}

.project-images {
  max-width: 80%;
  display: block;
  margin: 0 auto 60px;
}

.project-images img {
  display: block;
}

.project-image {
  display: block;
  position: relative;
  max-width: 500px;
}

.skills-block {
  max-width: 80%;
  margin: 0 auto;
}

/* nav */
a {
  color: black;
  text-decoration: none; /* No underlining */
}

a:hover a:focus {
  color: #6c757d;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:visited {
  /* visited link */
  color: black;
  text-decoration: none; /* No underlining */
}

a:active {
  /* selected link */
  color: #ca1d05;
  text-decoration: none; /* No underlining */
}

/* view project button style */
.button,
.button:visited {
  display: inline-block;
  background-color: black;
  border: 2px solid black;
  color: white;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 30px;
  margin-top: 1em;
  opacity: 1;
  border-radius: 10px;
  transition: all 0.25s ease;
}

.button::after {
  background-color: white;
  border: 2px solid #ca1d05;
  color: black;
  opacity: 0.8;
}

.button:hover {
  background-color: white;
  border: 2px solid #ca1d05;
  color: #ca1d05;
}

.button:hover::after {
  width: 110%;
}

/* about page style */

.picture {
  padding: 2em;
  width: 60%;
  margin: 0 auto;
  display: block;
}

.about-content {
  text-align: center;
}

/* resume style */
.button-secondary {
  display: inline-block;
  background-color: white;
  border: 2px solid #ca1d05;
  color: #ca1d05;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 30px;
  margin: 2em;
  opacity: 1;
  border-radius: 10px;
  align-items: center;
  transition: all 0.25s ease;
}

/* -- Footer -- */
footer {
  display: inline-block;
  padding: 2em;
  background-color: #232323;
  color: white;
  text-align: center;
  width: 100%;
}

footer p {
  font-weight: 200;
}

.copyright {
  font-size: 12px;
  margin-top: 16px;
}

.email {
  color: #ca1d05;
}

.button-secondary svg {
  width: 24px;
  margin-right: 8px;
}

.button-secondary.email {
  margin: 1rem;
  display: inline-flex;
  align-items: center;
  border-color: white;
}

.button-secondary:hover {
  background: #ca1d05;
  border-color: #ca1d05;
  color: #fff;
}

.button-secondary:hover svg path {
  fill: #fff;
}

.social-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social {
  display: inline-block;
  width: 32px;
  margin: 4px;
}

/* -- Skills and Tools Style -- */
#skills-tools {
  background-color: white;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  main {
    padding-top: 99px;
  }

  #hero span {
    display: block;
  }

  .row {
    display: flex;
    align-items: center;
  }

  .col-md-6 {
    width: 50%;
    padding: 30px;
  }

  [class*="col-"] {
    column-gap: 50px;
  }

  .logo {
    max-width: 150px;
  }

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  #work .row {
    margin: 16px 0;
  }

  .project-image {
    margin: 0 auto;
  }

  .picture {
    width: 40%;
    min-width: 250px;
  }

  .skills-block {
    max-width: 50%;
  }
}

/* ==============================
      Large devices (1024px or larger)
    ================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-lg-7 {
    width: 60%;
    padding: 30px;
  }

  .col-lg-5 {
    width: 40%;
    padding: 30px;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-lg-7 {
    width: 60%;
    padding: 30px;
  }

  .col-lg-5 {
    width: 40%;
    padding: 30px;
  }
}
